# Dependencies
node_modules/

# Build outputs
dist/
build/

# Nest Build Output
apps/baas/src/metadata.ts

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.idea/
*.swp
*.swo
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Testing
coverage/

# Temporary
*.tmp
*.temp
