# The base domain of the identity provider that issues JWT
JWT_ISSUER=https://clerk.botobrain.com

# SENSITIVE: used to talk to openai
OPENAI_API_KEY=your-openai-api-key

# SENSITIVE: used to permanently delete users in Clerk (and other admin operations)
CLERK_SECRET_KEY=your-clerk-secret-key
