VITE_API_URL="https://1kgv619kf2.execute-api.ap-south-1.amazonaws.com"
VITE_CHAT_URL="https://45adgeghq5cszxsrqbzdxeo7kq0lmpvz.lambda-url.ap-south-1.on.aws"
VITE_CLERK_PUBLISHABLE_KEY="clerk-key"
VITE_BYPASS_AUTH="false"